.archivo-<font-variation-settings> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-variation-settings:
    "width" 100;

}