body{

background-color:#FFFFFF
}
#btn-enter{
    margin-left: 10px;
    font-size: 22px;
    padding: 2px 20px;
    font-weight: 600;
    color: white;
    background-color: #1E9E6A;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 10px;
    font-family: Archivo;

}

form{
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 9px;
  font-family: Archivo;
}
input{
  display: flex;
  width: 80%;
  margin-top: 2px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: Archivo;


}
checkbox{
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 12px;
width: 130px;
height: 17px;
}

#imagem {
max-width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 0px;

position: absolute;
width: 580px;
height: 580px;
left: 0px;
top: 0px;

background: #F3FFF2;
}

#box-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 580px;
height: 580px;
left: 560px;
top: 0px;
font-family: Archivo;
}
